mixin cards(beer = {})
    .card-container
        .beer-image
            img(class="img" src=`${beer.image_url}`, alt=`${beer.name}`)
        .info-beer
            h3=beer.name
            p=beer.description
