/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/
body{
    margin: 0;
    padding: 0;
}
.nav{
    height: 100px;
    widows: 100%;
    background-color: #2081c3;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.list{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width:300px;
    color:#F7F9F9;
    font-family: Arial, Helvetica, sans-serif;

}
a{
    text-decoration: none;
    color:#F7F9F9;
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
    height: 70px;
    width:100%;
    background-color:#0A2C42;
    color:#F7F9F9;
    bottom: 0;
    position: fixed;
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    
}
 .footer > div{
     margin-left:30px;
     font-family: Arial, Helvetica, sans-serif;

 }

 .main-container{
     width:100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height:60vh;

 }
 .control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 80%;
    
 }
 .icon-beer{
     width: 400px;
     height: 350px;
     margin-bottom: 30px;
 }

 .btn-blue{
     border-radius: 3px;
     border: 1px solid rgba(0,0,0,0.3);
     background-color: #2081c3;
     color: #F7F9F9;
     margin:20px;
     padding: 20px;
     width:200px;
     cursor:pointer;
 }
 .allbeers-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 2em;
    margin:4em;
 }

 .card-container{
    width:28%;
    height: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin:2px;
 }
 .beer-image{
   text-align: center;

 }
 .img{
     width:33%;
     height: 33%;
 }
 .info-beer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
 }