<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title IronBeers
        link(rel="stylesheet", href="/stylesheets/styles.css")
    body
        nav(class="nav")
            ul(class="list")
               li: a(href="/") Home
               li: a(href="/beers") Beers
               li: a(href="/random") Random Beer
                        
   
        block content
        footer(class="footer")
            div
                h4 #{footerTitle}