extends layout.pug
block content
     div(class="main-container")
        div(class="control")
            div
            img(class="icon-beer" src="/images/beer.png", alt="")        
            button(class="btn-blue"): a(href="/random") Random
            button(class="btn-blue"): a(href="/beers") All Beers

